<%- include('./partials/header-main') %>
<header>
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source src="../assets/background.mp4" type="video/mp4" />
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Klinka</h1>
        <p class="lead mb-0">
          Store your EHR Globally..<br />Accessible Anywhere at Anytime
        </p>
      </div>
    </div>
  </div>
</header>
<br />
<div class="container text-center">
  <div class="jumbotron bg-dark text-white">
        <h3 class="mt-0 text-left"><i class="fab fa-ethereum"></i> Ethereum based Network</h3>
        <p class="text-left">
          Klinka is a network for holding and transfering medical records based
          on Ethereum, giving the ability to the network to be available to the
          public.<br />Transactions are totally secured using SHA-256 Encryption
          to prevent data leak.<br />The network is always watched over to
          prevent any malicious activity of any kind.
        </p>
  </div>
  <h4>Join the network now..</h4>
  <a href="/auth/register" class="btn btn-outline-info">Go</a>
</div>
<%- include('./partials/footer') %>