<nav class="navbar navbar-expand-sm fixed-top navbar-dark" style="background-color: rgba(0.2, 0.2, 0.2, 0.2);">
  <a class="navbar-brand" href="/"
    ><img src="/images/Klinka logo.png" alt="Klinka logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="/registration/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="/registration/register" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a href="/documentation" class="nav-link btn btn-outline-info">Documentation</a>
      </li>
      &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a href="https://github.com/omarkshan/klinka-proto" class="nav-link btn btn-outline-secondary">Github Repo</a>
      </li>
    </ul>
  </div>
</nav>
<header>
  <div class="overlay"></div>
  <video
    playsinline="playsinline"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
  >
    <source src="../assets/background.mp4" type="video/mp4" />
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Klinka</h1>
        <p class="lead mb-0">
          Store your EHR Globally..<br />Accessible Anywhere at Anytime
        </p>
      </div>
    </div>
  </div>
</header>
<br />
<div class="container text-center">
  <div class="jumbotron bg-dark text-white">
        <h3 class="mt-0 text-left"><i class="fab fa-ethereum"></i> Ethereum based Network</h3>
        <p class="text-left">
          Klinka is a network for holding and transfering medical records based
          on Ethereum, giving the ability to the network to be available to the
          public.<br />Transactions are totally secured using SHA-256 Encryption
          to prevent data leak.<br />The network is always watched over to
          prevent any malicious activity of any kind.
        </p>
  </div>
  <h4>Join the network now..</h4>
  <a href="/registration/register" class="btn btn-outline-info">Go</a>
</div>
    <div class="container">
      <br />
      <hr />
      <h6>Klinka&copy;</h6>
      2020 All copyrights reserved.
      <a href="/terms-and-conditions" class="btn-link">Terms and Conditions</a>. Read your <a href="/privacy-policy" class="btn-link">Privay Policy</a>.
    </div>