<br>
<br>
<br>
<div class="container">
      <button onclick=" window.history.back()" class="btn btn-outline-primary">
        <i class="fas fa-chevron-left"></i>
      </button>
  <br>
  <br>
  <br>
</div>
<div class="d-flex justify-content-center align-items-center">
  <br />
  <h1
    class="mr-3 pr-3 align-top border-right inline-block align-content-center"
  >
    <i class="fas fa-toolbox"></i> Under Maintenance
  </h1>
  <div class="inline-block align-middle">
    <h2 class="font-weight-normal lead" id="desc">
      Sorry for the nuisance, this page is currently offline for Maintenance..
    </h2>
  </div>
</div>
    <div class="container">
      <br />
      <hr />
      <h6>Klinka&copy;</h6>
      2020 All copyrights reserved.
      <a href="/terms-and-conditions" class="btn-link">Terms and Conditions</a>. Read your <a href="/privacy-policy" class="btn-link">Privay Policy</a>.
    </div>