<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"
    ><img src="/images/Klinka logo.png" alt="Klinka logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="/" title="Logout" class="btn btn-outline-danger"
          ><i class="fa fa-power-off" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="container">
  <h4>Hello, {User}</h4>
  <br />

  <div class="row">
    <div class="col-3">
      <div
        class="nav flex-column nav-pills"
        id="tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="pill"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Personal Info
        </a>
        <a
          class="nav-link"
          id="messages-tab"
          data-toggle="pill"
          href="#messages"
          role="tab"
          aria-controls="messages"
          aria-selected="false"
        >
          Messages <span class="badge badge-secondary">1</span>
        </a>
        <a
          class="nav-link"
          id="EHRs-tab"
          data-toggle="pill"
          href="#EHRs"
          role="tab"
          aria-controls="EHRs"
          aria-selected="false"
        >
          EHRs
        </a>
        <a
          class="nav-link"
          id="settings-tab"
          data-toggle="pill"
          href="#settings"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Settings
        </a>
      </div>
    </div>

    <div class="col-9">
      <div class="tab-content" id="tabContent">
        <!-- Personal Info tab -->
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <form action="POST" class="w-75">
            <div class="form-group">
              <label for="user_key">User Key</label>
              <input
                type="text"
                name=""
                id="user_key"
                class="form-control"
                placeholder="{User Key}"
                readonly
              />
              <div class="alert alert-warning">
                <strong>Warning:</strong> Do not share the
                <strong>User Key</strong> with anyone inside or outside the
                network!
              </div>
            </div>

            <div class="form-group">
              <label for="dob">DOB</label>
              <input
                class="form-control"
                type="date"
                value="2011-08-19T13:45:00"
                id="dob"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Gender</label>
              <input
                type="text"
                name="gender"
                id="gender"
                class="form-control"
                value="{Gender}"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Age</label>
              <input
                type="text"
                name="age"
                id="gender"
                class="form-control"
                value="{Age}"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Effort</label>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="low-effort-radio"
                  name="job"
                  required
                />
                <label class="custom-control-label" for="low-effort-radio"
                  >Low (I hardly do any activity on a daily basis)</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="med-effort-radio"
                  name="job"
                  required
                />
                <label class="custom-control-label" for="med-effort-radio"
                  >Med (I often do effort on a daily basis including at my
                  work)</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  id="high-effort-radio"
                  name="job"
                  required
                />
                <label class="custom-control-label" for="high-effort-radio"
                  >High (I do high effort daily / I am an active worker)</label
                >
              </div>
            </div>
            <br />
            <input type="submit" value="Save" class="btn btn-outline-info" />
          </form>
        </div>

        <!-- EHRs tab -->
        <div
          class="tab-pane fade"
          id="EHRs"
          role="tabpanel"
          aria-labelledby="EHRs-tab"
        >
          <h5>My EHRs</h5>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  By: <strong>{Physician PID}</strong>
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <strong>Date:</strong> {Date}
                <br />
                <strong>Symptoms:</strong> {Symptoms}
                <br />
                <strong>Note:</strong> {Note}
                <br />
                <br />
                <div class="alert alert-info">
                  <strong
                    >If you think something might be wrong
                    <br />
                    Please send a report so that we could help..
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Messages tab -->
        <div
          class="tab-pane fade"
          id="messages"
          role="tabpanel"
          aria-labelledby="messages-tab"
        >
          <div class="row">
            <button
              type="button"
              class="btn btn-outline-success"
              data-toggle="modal"
              data-target="#compose"
            >
              <i class="fas fa-plus"></i> Compose
            </button>
            <!-- Modal -->
            <div
              class="modal fade"
              id="compose"
              data-backdrop="static"
              data-keyboard="false"
              tabindex="-1"
              role="dialog"
              aria-labelledby="compose"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="compose">
                      Compose Message
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/compose" method="post">
                      <div class="form-group">
                        <label for="patient-id">Patient Id</label>
                        <input
                          type="text"
                          class="form-control"
                          id="patient-id"
                          placeholder="Patient ID"
                        />
                      </div>
                      <div class="form-group">
                        <label for="content">Content</label>
                        <textarea
                          class="form-control"
                          id="content"
                          rows="3"
                        ></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button type="button" class="btn btn-outline-info">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </div>
            &nbsp;&nbsp;
            <button class="btn btn-outline-info">
              <i class="fas fa-paper-plane"></i> Sent
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-info">
              <i class="fas fa-envelope"></i> Recieved
            </button>
          </div>
          <br />
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Subject: <strong>{Subject}</strong>
                    <span class="badge badge-secondary">New</span>
                    <br />
                    From: <strong>{Sender}</strong>
                    <br />
                    Type: <strong>{Feedback}</strong>
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa
                  nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                  aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  beer labore wes anderson cred nesciunt sapiente ea proident.
                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt you
                  probably haven't heard of them accusamus labore sustainable
                  VHS.
                  <br />
                  <button class="btn btn-outline-danger" title="Delete">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button class="btn btn-outline-success" title="Reply">
                    <i class="fas fa-reply"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Subject: <strong>{Subject}</strong>
                    <br />
                    From: <strong>{Sender}</strong>
                    <br />
                    Type: <strong>{Request}</strong>
                  </button>
                </h2>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                  ducimus optio necessitatibus quae aliquid ratione veritatis
                  voluptas similique explicabo asperiores tempore expedita aut
                  autem, quis omnis laborum dolorem minus eos?
                  <br />
                  <button class="btn btn-outline-info">Accept</button>
                  <button class="btn btn-outline-danger">Decline</button>
                  <button class="btn btn-outline-danger" title="Delete">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Settings tab -->
        <div
          class="tab-pane fade"
          id="settings"
          role="tabpanel"
          aria-labelledby="settings-tab"
        >
          <div class="row">
            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Change Password</h5>
                <p class="card-text">Feel comprimised? Change your Password</p>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#passwordModal"
                >
                  Change Password
                </button>
              </div>
            </div>
            <div
              class="modal fade"
              id="passwordModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="passwordModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">
                      Change Password
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/password" method="post">
                      <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="oldPassword"
                        />
                      </div>
                      <div class="form-group">
                        <label for="newPassword1">New Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="newPassword1"
                        />
                      </div>
                      <div class="form-group">
                        <label for="newPassword2">Confirm New Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="newPassword2"
                        />
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Save changes
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Report Physician</h5>
                <p class="card-text">
                  Mistreated? <br />Submit a report so that we can help..
                </p>
                <br />
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#reportModal"
                >
                  Send Report
                </button>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="reportModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="reportModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="reportModalLabel">
                    Report Physician
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/report" method="post">
                    <div class="form-group">
                      <label for="p_id">Physician ID</label>
                      <input type="text" class="form-control" id="p_id" />
                    </div>
                    <div class="form-group">
                      <label for="comments">Comments</label>
                      <textarea
                        class="form-control"
                        id="comments"
                        rows="4"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <label for="screenshot">Screenshot</label>
                      <div class="custom-file">
                        <input
                          type="file"
                          accept=".jpg,.jpeg,.png"
                          class="custom-file-input"
                          id="file"
                        />
                        <label class="custom-file-label" for="file"
                          >Upload File..</label
                        >
                      </div>
                      <div class="alert alert-warning">
                        <strong
                          ><i class="fas fa-exclamation-triangle"></i> Warning:
                        </strong>
                        Anything against you could lead to banning you from the
                        network
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Send Report
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Request History</h5>
                <p class="card-text">
                  Need your medical history? <br />May take from up to 24 hrs.
                </p>
                <br />
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#requestHistoryModal"
                >
                  Submit Request
                </button>
              </div>
              <div
                class="modal fade"
                id="requestHistoryModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="requestHistoryModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="requestHistoryModalLabel">
                        Request History
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/request_history" method="post">
                        <div class="alert alert-warning">
                          <strong
                            ><i class="fas fa-exclamation-triangle"></i>
                            Warning:
                          </strong>
                          Processing your request could take a few minutes
                          depending on your number of records
                        </div>
                        <div class="alert alert-danger">
                          <strong
                            ><i class="fas fa-exclamation-triangle"></i
                          ></strong>
                          If your life is in danger please get treatment from
                          the nearest medical care provider you could reach!<br />
                          <strong
                            >DO NOT WAIT FOR YOUR MEDICAL RECORDS TO BE
                            PROCCESSED!</strong
                          >
                        </div>
                        <button type="submit" class="btn btn-primary">
                          Request History
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="container">
      <br />
      <hr />
      <h6>Klinka&copy;</h6>
      2020 All copyrights reserved.
      <a href="/terms-and-conditions" class="btn-link">Terms and Conditions</a>. Read your <a href="/privacy-policy" class="btn-link">Privay Policy</a>.
    </div>