<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"
    ><img src="/images/Klinka logo.png" alt="Klinka logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a href="/" title="Logout" class="btn btn-outline-danger"
          ><i class="fa fa-power-off" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <h4>Hello, {Physician}</h4>
  <br />

  <div class="row">
    <div class="col-3">
      <div
        class="nav flex-column nav-pills"
        id="tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link"
          id="profile-tab"
          data-toggle="pill"
          href="#profile"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Personal Info
        </a>
        <a
          class="nav-link"
          id="messages-tab"
          data-toggle="pill"
          href="#messages"
          role="tab"
          aria-controls="messages"
          aria-selected="false"
        >
          Messages <span class="badge badge-secondary">1</span>
        </a>
        <a
          class="nav-link"
          id="EHRs-tab"
          data-toggle="pill"
          href="#EHRs"
          role="tab"
          aria-controls="EHRs"
          aria-selected="false"
        >
          EHRs
        </a>
        <a
          class="nav-link"
          id="settings-tab"
          data-toggle="pill"
          href="#settings"
          role="tab"
          aria-controls="settings"
          aria-selected="false"
        >
          Settings
        </a>
      </div>
    </div>

    <div class="col-9">
      <div class="tab-content" id="tabContent">
        <!-- Personal Info tab -->
        <div
          class="tab-pane fade"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <form action="POST" class="w-75">
            <div class="form-group">
              <label for="user_key">User Key</label>
              <input
                type="text"
                name=""
                id="user_key"
                class="form-control"
                placeholder="{User Key}"
                readonly
              />
              <div class="alert alert-warning">
                <strong>Warning:</strong> Do not share the
                <strong>User Key</strong> with anyone inside or outside the
                network!
              </div>
            </div>

            <div class="form-group">
              <label for="dob">DOB</label>
              <input
                class="form-control"
                type="date"
                value="2011-08-19T13:45:00"
                id="dob"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Gender</label>
              <input
                type="text"
                name="gender"
                id="gender"
                class="form-control"
                value="{Gender}"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Age</label>
              <input
                type="text"
                name="age"
                id="gender"
                class="form-control"
                value="{Age}"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Speciality</label>
              <input
                type="text"
                name="speciality"
                id="speciality"
                class="form-control"
                value="{Speciality}"
                disabled
              />
            </div>

            <div class="form-group">
              <label>Employed Since</label>
              <input
                type="date"
                name="employed_since"
                id="employed-since"
                class="form-control"
                value="{Employed Since}"
                disabled
              />
            </div>
          </form>
        </div>

        <!-- Messages tab -->
        <div
          class="tab-pane fade"
          id="messages"
          role="tabpanel"
          aria-labelledby="messages-tab"
        >
          <div class="row">
            <button
              type="button"
              class="btn btn-outline-success"
              data-toggle="modal"
              data-target="#compose"
            >
              <i class="fas fa-plus"></i> Compose
            </button>
            <!-- Modal -->
            <div
              class="modal fade"
              id="compose"
              data-backdrop="static"
              data-keyboard="false"
              tabindex="-1"
              role="dialog"
              aria-labelledby="compose"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="compose">
                      Compose Message
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/compose" method="post">
                      <div class="form-group">
                        <label for="patient-id">Patient Id</label>
                        <input
                          type="text"
                          class="form-control"
                          id="patient-id"
                          placeholder="Patient ID"
                        />
                      </div>
                      <div class="form-group">
                        <label for="content">Content</label>
                        <textarea
                          class="form-control"
                          id="content"
                          rows="3"
                        ></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button type="button" class="btn btn-outline-info">
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </div>
            &nbsp;&nbsp;
            <button class="btn btn-outline-info">
              <i class="fas fa-paper-plane"></i> Sent
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-info">
              <i class="fas fa-envelope"></i> Recieved
            </button>
          </div>
          <br />
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Subject: <strong>{Subject}</strong>
                    <span class="badge badge-secondary">New</span>
                    <br />
                    From: <strong>{Sender}</strong>
                    <br />
                    Type: <strong>{Feedback}</strong>
                  </button>
                </h2>
              </div>

              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa
                  nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                  aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  beer labore wes anderson cred nesciunt sapiente ea proident.
                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt you
                  probably haven't heard of them accusamus labore sustainable
                  VHS.
                  <br />
                  <button class="btn btn-outline-danger" title="Delete">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button class="btn btn-outline-success">
                    <i class="fas fa-reply" title="Reply"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button
                    class="btn btn-link btn-block text-left collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Subject: <strong>{Subject}</strong>
                    <br />
                    From: <strong>{Sender}</strong>
                    <br />
                    Type: <strong>{Request}</strong>
                  </button>
                </h2>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo
                  ducimus optio necessitatibus quae aliquid ratione veritatis
                  voluptas similique explicabo asperiores tempore expedita aut
                  autem, quis omnis laborum dolorem minus eos?
                  <br />
                  <button class="btn btn-outline-info">Accept</button>
                  <button class="btn btn-outline-danger">Decline</button>
                  <button class="btn btn-outline-danger" title="Delete">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- EHRs tab -->
        <div
          class="tab-pane fade"
          id="EHRs"
          role="tabpanel"
          aria-labelledby="EHRs-tab"
        >
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button
                  class="btn btn-link btn-block text-left collapsed"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Patient: <strong>{Patient PID}</strong>
                </button>
              </h2>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body">
                <strong>Age:</strong> {Age}
                <br />
                <strong>Gender:</strong> {Gender}
                <br />
                <br />
                <% var _id = 'xxxxx-xxxxx-xxxxx-xxxxxxxxxxxxxx' %>
                <% var _record = 'xxxxx-xxxxx-xxxxx-xxxxxxxxxxxxxx' %>
                <button class="btn btn-outline-info" onclick="createRecord('<%=_id%>', '<%=_record%>')">Add Record</button>
                <button class="btn btn-outline-danger">Remove Patient</button>
                <br />
                <br />
                <div class="alert alert-danger">
                  <strong
                    >ALERT: Records can not be altered once added!
                    <br />
                    Make sure format and data entered are both correct!
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Settings tab -->
        <div
          class="tab-pane fade"
          id="settings"
          role="tabpanel"
          aria-labelledby="settings-tab"
        >
          <div class="row">
            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Change Password</h5>
                <p class="card-text">Feel comprimised? Change your Password</p>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#passwordModal"
                >
                  Change Password
                </button>
              </div>
            </div>
            <div
              class="modal fade"
              id="passwordModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="passwordModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">
                      Change Password
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/password" method="post">
                      <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="oldPassword"
                        />
                      </div>
                      <div class="form-group">
                        <label for="newPassword1">New Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="newPassword1"
                        />
                      </div>
                      <div class="form-group">
                        <label for="newPassword2">Confirm New Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="newPassword2"
                        />
                      </div>
                      <button type="submit" class="btn btn-primary">
                        Save changes
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Request Access</h5>
                <p class="card-text">
                  Want to have access over patient's EHRs? <br />Submit a
                  request to the patient..
                </p>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#submit-modal"
                >
                  Request Access
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="submit-modal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="submit_label"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submit_label">
                          Data Access Request
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <label for="patient-id">Patient PID</label>
                          <br />
                          <input
                            type="text"
                            name="patient-id"
                            id="patient-id"
                            placeholder="Patient PID"
                          />
                          <br /><br />
                          <input
                            type="submit"
                            value="Send Request"
                            class="btn btn-outline-info"
                          />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Analyze Data</h5>
                <p class="card-text">
                  Need AI Assistance? <br />Send the .csv file for analysis..
                </p>
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#analysis-modal"
                >
                  Go
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="analysis-modal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="analysis_label"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="analysis_label">
                          Data Analysis
                        </h5>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="custom-file">
                            <input
                              type="file"
                              class="custom-file-input"
                              id="file"
                              accept=".csv"
                            />
                            <label class="custom-file-label" for="file"
                              >Upload File..</label
                            >
                            <br />
                            <strong>OR</strong> <br />
                            <label for="patient-id">Patient PID</label>
                            <br />
                            <input
                              type="text"
                              name="patient-id"
                              id="patient-id"
                              placeholder="Patient PID"
                            />
                          </div>
                          <br /><br />
                          <input
                            type="submit"
                            value="Send Data"
                            class="btn btn-outline-info"
                          />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card col-5">
              <div class="card-body">
                <h5 class="card-title">Upload Data</h5>
                <p class="card-text">
                  Have a .csv EHRs file?<br>Push it to the network..
                </p>
                <br />
                <button
                  type="button"
                  class="btn btn-outline-info"
                  data-toggle="modal"
                  data-target="#previous-records"
                >
                  Upload
                </button>
              </div>

              <!-- Modal -->
              <div
                class="modal fade"
                id="previous-records"
                tabindex="-1"
                role="dialog"
                aria-labelledby="previousRecordsLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="previousRecordsLabel">
                        Upload EHR File
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/process-data" method="post">
                        <div class="form-group">
                            <label for="pid"
                              >Patient ID</label
                            >
                            <input type="text" name="pid" id=pid"">
                        </div>
                        <div class="form-group">
                          <label for="previous-records"
                            >File</label
                          >
                          <div class="custom-file">
                            <input
                              type="file"
                              accept=".csv"
                              class="custom-file-input"
                              id="file"
                              name="_json"
                            />
                            <label class="custom-file-label" for="file"
                              >Choose file... (Optional)</label
                            >
                          </div>
                          <div class="alert alert-warning">
                            <strong
                              ><i class="fas fa-exclamation-triangle"></i>
                              Warning: File</strong
                            >
                            format in .csv
                          </div>
                        </div>
                        <!---->
                        <input type="submit" value="Upload" class="btn btn-outline-info">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="container">
      <br />
      <hr />
      <h6>Klinka&copy;</h6>
      2020 All copyrights reserved.
      <a href="/terms-and-conditions" class="btn-link">Terms and Conditions</a>. Read your <a href="/privacy-policy" class="btn-link">Privay Policy</a>.
    </div>