<%- include('./partials/header') %>
<br />
<div class="container">
  <div class="row">
    <div class="col-2">
      <button onclick=" window.history.back()" class="btn btn-outline-primary">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
    <div class="col-5">
      <h3>Privacy Policy</h3>
    </div>
  </div>
  <br />
  <div>
    

<p>At Klinka, accessible from https://klinka.herokuapp.com, one of our main priorities is the privacy of our Users. This Privacy Policy document contains types of information that is collected and recorded by Klinka.com and how we use it.</p>

<p>This Privacy Policy applies only to our online activities and is valid for Users of our website with regards to the information that they shared and/or collect in Klinka.com. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our services</li>
<li>Improve, personalize, and expand our services</li>
<li>Understand and analyze how you use our services</li>
<li>Develop new services, features, and functionalities</li>
<li>Find and prevent fraud activities</li>
</ul>

<h2>Log Files</h2>

<p>Klinka.com follows a standard procedure of using log files. These files log Users when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include date and time stamp of login/logout. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing Users actions, and administering the site</p>

<h2>Cookies</h2>

<p>Klinka uses 'cookies'. These cookies are used to store information including Users' preferences, and the pages on the website that the user accessed or visited.</p>

<p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies"</a>.</p>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>