<%- include('./partials/header') %>
<br>
<div class="container">
  <h3>Choose Account Type</h3>
  <hr />
  <div class="row">
    <div class="card col-5">
      <div class="card-body">
        <h5 class="card-title">Physician</h5>
        <p class="card-text">
          Own a clinic or working in a hospital?<br />Register as a Physician
        </p>
        <a href="./physician-register" class="btn btn-outline-info">Select</a>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card col-5">
      <div class="card-body">
        <h5 class="card-title">Patient</h5>
        <p class="card-text">
          Want to secure your Electronic Health Records?<br />Register as a
          Patient
        </p>
        <a href="./patient-register" class="btn btn-outline-info">Select</a>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>