<%- include('./partials/header') %>
<br />
<div class="container">
  <div class="row">
    <div class="col-2">
      <button onclick=" window.history.back()" class="btn btn-outline-primary">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
    <div class="col-5">
      <h3>Terms and Conditions</h3>
    </div>
  </div>
  <br />
  <div>
    <%- include('partials/terms-and-conditions') %>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>