<div class="card col-5">
  <div class="card-body">
    <h5 class="card-title">Analyze Data</h5>
    <p class="card-text">
      Need AI Assistance? <br />Send the .csv file for analysis..
    </p>
    <button
      type="button"
      class="btn btn-outline-info"
      data-toggle="modal"
      data-target="#analysis-modal"
    >
      Go
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="analysis-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="analysis_label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="analysis_label">
              Data Analysis
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="file"
                  accept=".csv"
                />
                <label class="custom-file-label" for="file"
                  >Upload File..</label
                >
                <br />
                <strong>OR</strong> <br />
                <label for="patient-id">Patient PID</label>
                <br />
                <input
                  type="text"
                  name="patient-id"
                  id="patient-id"
                  placeholder="Patient PID"
                />
              </div>
              <br /><br />
              <input
                type="submit"
                value="Send Data"
                class="btn btn-outline-info"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
