<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"
    ><img src="/images/Klinka logo.png" alt="Klinka logo"
  /></a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a href="/auth/logout" title="Logout" class="btn btn-outline-danger"
        ><i class="fa fa-power-off" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
