<% var user %>
<div
  class="tab-pane fade active show"
  id="search"
  role="tabpanel"
  aria-labelledby="search-tab"
>
  <form action="/dashboard/search" method="POST" class="w-75">
    
  </form>
</div>
