<div class="card col-5">
  <div class="card-body">
    <h5 class="card-title">Upload Data</h5>
    <p class="card-text">
      Have a .csv EHRs file?<br />Push it to the network..
    </p>
    <br />
    <button
      type="button"
      class="btn btn-outline-info"
      data-toggle="modal"
      data-target="#previous-records"
    >
      Upload
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="previous-records"
    tabindex="-1"
    role="dialog"
    aria-labelledby="previousRecordsLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="previousRecordsLabel">
            Upload EHR File
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/process-data" method="post">
            <div class="form-group">
              <label for="pid">Patient ID</label>
              <input type="text" name="pid" id=pid"">
            </div>
            <div class="form-group">
              <label for="previous-records">File</label>
              <div class="custom-file">
                <input
                  type="file"
                  accept=".csv"
                  class="custom-file-input"
                  id="file"
                  name="_json"
                />
                <label class="custom-file-label" for="file"
                  >Choose file... (Optional)</label
                >
              </div>
              <div class="alert alert-warning">
                <strong
                  ><i class="fas fa-exclamation-triangle"></i> Warning:
                  File</strong
                >
                format in .csv
              </div>
            </div>
            <!---->
            <input type="submit" value="Upload" class="btn btn-outline-info" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
