<div class="form-group">
    <label for="blood">Blood Type</label>
    <select name="blood" class="form-control">
      <option value="O-Positive">O-Positive</option>
      <option value="O-Negative">O-Negative</option>
      <option value="A-Negative">A-Negative</option>
      <option value="A-Positive">A-Positive</option>
      <option value="B-Negative">B-Negative</option>
      <option value="B-Positive">B-Positive</option>
      <option value="AB-Negative">AB-Negative</option>
      <option value="AB-Positive">AB-Positive</option>
    </select>
    <div class="alert alert-warning">
        <strong
          ><i class="fas fa-exclamation-triangle"></i> Info: </strong
        >
        Consult a physician if you are not sure of your Blood Type
    </div>
  </div>
  