<div class="container">
  <br />
  <hr />
  <h6>Klinka&copy;</h6>
  2020 All copyrights reserved.
  <a href="/terms-and-conditions" class="btn-link">Terms and Conditions</a>.
  Read your <a href="/privacy-policy" class="btn-link">Privay Policy</a>.
</div>
