<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio1"
    name="speciality"
    value="Family Physician"
    required
  />
  <label class="custom-control-label" for="speciality-radio1"
    >Family Physician</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio2"
    name="speciality"
    value="Internal Medicine"
    required
  />
  <label class="custom-control-label" for="speciality-radio2"
    >Internal Medicine</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio3"
    name="speciality"
    value="Pediatrician"
    required
  />
  <label class="custom-control-label" for="speciality-radio3"
    >Pediatrician</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio4"
    name="speciality"
    value="Obstetrician/Gynecologist (OB/GYN)"
    required
  />
  <label class="custom-control-label" for="speciality-radio4"
    >Obstetrician/Gynecologist (OB/GYN)</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio5"
    name="speciality"
    value="Surgeon"
    required
  />
  <label class="custom-control-label" for="speciality-radio5">Surgeon</label>
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio6"
    name="speciality"
    value="Psychiatrist"
    required
  />
  <label class="custom-control-label" for="speciality-radio6"
    >Psychiatrist</label
  >
</div>
<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio7"
    name="speciality"
    value="Cardiologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio7"
    >Cardiologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio8"
    name="speciality"
    value="Dermatologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio8"
    >Dermatologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio9"
    name="speciality"
    value="Endocrinologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio9"
    >Endocrinologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio10"
    name="speciality"
    value="Gastroenterologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio10"
    >Gastroenterologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio11"
    name="speciality"
    value="Infectious Disease Physician"
    required
  />
  <label class="custom-control-label" for="speciality-radio11"
    >Infectious Disease Physician</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio12"
    name="speciality"
    value="Nephrologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio12"
    >Nephrologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio13"
    name="speciality"
    value="Ophthalmologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio13"
    >Ophthalmologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio14"
    name="speciality"
    value="Otolaryngologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio14"
    >Otolaryngologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio15"
    name="speciality"
    value="Pulmonologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio15"
    >Pulmonologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio16"
    name="speciality"
    value="Neurologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio16"
    >Neurologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio17"
    name="speciality"
    value="Physician Executive"
    required
  />
  <label class="custom-control-label" for="speciality-radio17"
    >Physician Executive</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio18"
    name="speciality"
    value="Radiologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio18"
    >Radiologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio19"
    name="speciality"
    value="Anesthesiologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio19"
    >Anesthesiologist</label
  >
</div>

<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="speciality-radio20"
    name="speciality"
    value="Oncologist"
    required
  />
  <label class="custom-control-label" for="speciality-radio20"
    >Oncologist</label
  >
</div>
<br>
<div class="form-group">
  <input
    type="text"
    name="speciality"
    id="speciality"
    class="form-control"
    placeholder="Other"
  />
</div>
